/*
DESCRIPCIÓN

____________________________________________________________________________
Autor:   Darwin Rosero Vaca <darwin11rv@gmail.com>
Fecha:   04/10/2016
Versión: 1.0
Descrip: Creacion
____________________________________________________________________________
Copyright © 2016 DRVCORP.SA All rights
and open the template in the editor.
*/
/* 
    Created on : 04-oct-2016, 8:56:21
    Author     : Darwin Rosero Vaca <darwin11rv@gmail.com>
*/

#imageback {
    background:url(img/show/most.png);
}

