
/*
DESCRIPCIÓN

____________________________________________________________________________
Autor:   Darwin Rosero Vaca <darwin11rv@gmail.com>
Fecha:   04/10/2016
Versión: 1.0
Descrip: Creacion
____________________________________________________________________________
Copyright © 2016 DRVCORP.SA All rights
and open the template in the editor.
*/


#imageback {
    background:url(../img/show/most.png);
}
body{
    background: #050505;
}

.canvasC{
    border: thin solid; 
    display: inline-block;
}
.artC{
    position: fixed;
    display: inline-block;
}
#art{
    border: thin solid;
    margin-bottom: 10px;
}

.min{
    border: thin solid;
    display: inline-block;
}

.pieceb{
    display: inline-block;
}

.btn{
    width: 10em;
     opacity: .65;
}
.btn:hover{
    width:  10em;
    opacity: 1;
}
